.body {
margin: 50px;
padding: 10px;
}
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
padding: 10px;
}

.logo {
margin-right: 20px;

}
.logo-link {
text-decoration: none;
}
.logo-image {
width: 50px;
height: 50px;
}
.company-name {
color: white;
font-weight: bold;
margin-right: 900px;
}
.nav-links {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}
.nav-links li {
margin-right: 10px;
}
.nav-links a  {
text-decoration: none;
color: white;
padding: 10px;    
}
.navbar-links a:hover {
background-color: #111;
}

.sections {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: rgb(107, 174, 130);
text-align: center;
}

.picture1 {
width: 300px;
height: 200px;    
}

.picture2 {
width: 300px;
height: 200px;
}

.picture3 {
width: 300px;
height: 200px;
}

.dieta {
justify-content: space-between;
align-items: center;
display: flex;
padding: 10px;
margin-left: 300px;
text-align: center;
}
.dieta2 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    margin-left: 400px;
    text-align: center;
    }
    